.header{
    text-align: center;
    margin: 50px 0;
    font-weight: bold;
}

.title{
    margin-top: 20px;
}

.container{
    background: #fff;
    padding: 30px;
    min-height: 400px;
    width:1080px; 
    margin:0 auto;
    margin-bottom:50px;
}

.img{
    width: 100%;
    margin: 20px 0; 
}
